.sign{
    text-decoration: none;
}
.typeforms:nth-child(3){
    background-color: #FFD050;
    text-align: center;
    padding: 3%;
    font-family: Sen;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    cursor: pointer;
    border: none;
}